body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('https://i.ibb.co/tLSf9fS/Whats-App-Image-2024-05-08-at-10-18-34-PM.jpg');
    background-size: cover;
  }
