body {
    margin: 0 auto;
    padding: 0 auto;
    background-image: url('d:\oseo.jfif');
    background-size: cover;
    background-position:center;
    font-family: Arial, sans-serif; /* Cambia la fuente según tus preferencias */
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh; /* Ajusta la altura según tu diseño */
}

.container {
    color: white; /* Cambia el color del texto según tu diseño */
    text-align: center;
}

h1 {
    font-size: 2em; /* Cambia el tamaño de la fuente según tus preferencias */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.5em; /* Ajusta el tamaño de la fuente según tu diseño */
}


